beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
idna==3.8
pathlib==1.0.1
PyPDF2==3.0.1
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
soupsieve==2.6
starkbank-ecdsa==2.2.0
urllib3==2.2.2
